wash-connect-frontend/README.md
wash-connect-frontend/node_modules/
wash-connect-backend/node_modules/
.env
.DS_Store
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
wash-connect-frontend/build/
wash-connect-frontend/.env
wash-connect-backend/.env
wash-connect-backend/uploads/services/svc_1764467986721.jpg
